#Recetas{
  background-color: aliceblue;
  text-align: center;
}
body{
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  max-width: 600px;
  padding: 5px 5px 0px 1px;
}
h2{
  background-color: yellow;
}
p{
  font-family: Arial;
}
a{
  padding: 10px 0px;
}
.autor{
  background-color: yellow;
  padding: 0px 0px;
  font-family: time;
}
footer{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: solid 1px black; 
  padding: 10px;
  text-align: center;
}
