header{
  background-color:  #5b7989;
  font-family: 'Dancing Script', cursive;
}
header h1{
  font-family: 'Dancing Script', cursive;
  color: white;
  text-align: center;
  text-shadow: 1px 2px 2px  #02010a;
    text-shadow: 2px 2px 2px black;

  border-radius: 10px 10px 0px 0px;
  margin:auto;
  width:100%;
}
header nav{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  margin:auto;
  width:100%;
}
body{
  display: flex;
  flex-direction: column;
}
footer{

}
@media (min-width:800px) {
  header{
    background-image: linear-gradient(#612F18,#A05B3C);
    height: 5em;
    font-family: 'Dancing Script', cursive;
  }
  header h1{
    padding-left: 2%;
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
    float: left;
    width: 55%;
    text-align: left;
  }
  header nav{
    font-size: 2em;
    float: right;
    width: 40%;
    text-align: right;
    margin-top: 0.5em;
  }
  header nav:active{
    color: white;
  }
  #logo{
    height: 100%;
    text-align: center;
    margin: 0% 4%;
  }
  .cuerpo{
    background-image: url("img/background.png");
    background-size:cover;
    height: 100em;
    display:flex;

  }
  .tronco{
    background: gray;
    opacity: 0.9;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height:100em;

  }
}
